body {
    margin: 0;
    overflow: hidden;
    background: 'https://i.pinimg.com/474x/b6/55/61/b655614aaa0c81afba28b47d72e3c5f8.jpg';
}
canvas {
    background: #000000;
    display: block !important;
}
